@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: #141313;

  padding-top: 150px;

  display: flex;

  flex: 1;

  align-items: center;
  justify-content: center;
  
}

section h1 {
  color: white;
}


.grid {
  width: 300px;
  height: 300px;

  border: solid rgb(92, 85, 85) 1px;
  background-color: rgb(12, 10, 10);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;

}

.invader {
 
  background-position: center;
  background-size: contain;
  padding: 1px;
  box-sizing: border-box;
  
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/DamirSvrtan/space-invaders.rb/master/assets/images/InvaderB2.png');
  
}

.shooter {
  background-position: center;
  background-size: contain;
  /* padding: 1px;
  box-sizing: border-box; */
  
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/DamirSvrtan/space-invaders.rb/master/assets/images/Ship.png');
}

.laser {
  background-color: orange;
  border-radius: 2px;
}

.boom {
  background-color: red;
}

.points {
  color: rgb(53, 190, 53);
}

.start {
  margin-top: 15px;
  width: 300px;
  padding: 10px;

  font-weight: bold;
  font-size: 15px;

  background-color: rgb(53, 190, 53);
  border: 0;
  color: white;

  cursor: pointer;
}

.restart {
  background-color: rgb(190, 53, 53);
}